<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        	  <li><a href="/About">About</a></li>
        		  <li><a href="/CV">CV</a></li>
        		  <li><a href="/Publication">Publication</a></li>
			        <li><a href="/Contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:yuyanw@andrew.cmu.edu">email</a></li>
	        		<li><a href="https://github.com/wang-yuyan">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
